<div class="container">

<h1>ONE OF US, ONE OF US</h1>

  <form id="user-creation-form" name="user-creation-form" action="/users" method="post">
  <fieldset>
    <label for="name" id="name-label">Username:</label><br>
    <input type="text" name="user[name]" id="name" size="30" value="" class="text-input" /><br>
    <label class="error" for="name" id="name-error">This is a required field.</label><br>

    <label for="email" id="email-label">Email:</label><br>
    <input type="email" name="user[email]" id="email" size="30" value="" class="text-input" /><br>
    <label class="error" for="email" id="email-error">This is a required field.</label><br>

    <label for="password" id="password-label">Password:</label><br>
    <input type="password" name="user[password]" id="password" size="30" value="" class="text-input" /><br>
    <label class="error" for="password" id="password-error">This is a required field.</label><br>

    <label for="password-confirmation" id="password-confirmation-label">Confirm Your Password:</label><br>
    <input type="password" name="user[password_confirmation]" id="password-confirmation" size="30" value="" class="text-input" /><br>
    <label class="error" for="password-confirmation" id="password-confirmation-error">This is a required field.</label><br>
    <!-- Need to add an error for matching passwords -->

    <label for="image" id="image-label">Profile Pic URL (Optional):</label><br>
    <input type="url" name="user[image_url]" id="image" size="30" value="" class="text-input" /><br>

      <br />
    <input type="submit" name="submit" class="button" id="submit-btn" value="Register" />
    <label class="error" for="submit" id="user-creation-input-error">Invalid username or password.</label>
  </fieldset>
</form>

  <p>I changed my mind, <a href='/'>take me home.</a></p>


</div>