<div class="container">
	<h2>Browse Surveys</h2>
	<ul>
		<% @surveys.each do |survey| %>
		<li class="survey-list">
      <img class="survey-pic" src="<%=survey.filepath%>" alt="survey picture" height="50" width="50">
			<%= survey.title %>
			<a class="take-survey" href="/surveys/<%= survey.id %>">Take Survey!</a>
		</li>
		<% end %>
	</ul>
</div>
