<%= Survey.all.first.title %>
<br>
<%= Question.where(survey_id: Survey.first).first.text %>


<form method="post" action="/responses">
  <% @question_choices.count.times do |choice_no| %>
    <input type="radio" name="choice_id" value="<%= @question_choices[choice_no].id %>"> <%= @question_choices[choice_no].option %>
    <br>
  <% end %>
  <input type="hidden" name="participation_no" value="1">
  <input type="submit">
</form>




