<div class="container-index">
  <div class="banner">
    <form id="login-form" action="/login" method="post">
      <label for="email" class="white-font">Email:</label><br>
      <input type="text" name="email"><br>
      <label for="password" class="white-font">Password:</label><br>
      <input type="password" name="password"><br>
      <input class="login-button" type="submit" name= "submit" value="Login">
      <label class="error" for="submit" id="login-error">Invalid username or password</label>
    </form>
  </div>

  <div>
  </div>


</div>
