<div class="container">
  <form action="/login" method="post">

    <label for="email">Email:</label><br>
      <input type="text" name="email"><br>

    <label for="password">Password:</label><br>
      <input type="text" name="password"><br>

    <input type="submit" value="Login">
  </form>
    <button><a href="/users/new">Create an account</a></button>
</div>
