<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript" src="/js/jquery.editinplace.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
  <script type="text/javascript">
      $(".inplace-editor").editInPlace({
          url: "/users"
      });
  </script>


<title>Welcome to Survey Kitten!</title>
</head>
<body>
  <div id="topbar">
    <div id="login">
      <% current_user = nil %>
      <% if current_user.nil? %>

        <%if logged_in? %>
          <button><a href="/logout">Logout</a></button>
        <%end%>
      <% else %>

        <p>session[:user_id]<p>

      <% end %>
    </div>

    <div id="navigation">
      <form method="post" action="/">
        <input type="submit" value="Browse Surveys">
      </form>

      <img src="https://pbs.twimg.com/profile_images/3031415037/97781eac7b3ce9fac7c0a5c063c3db32.jpeg">

      <% if !current_user.nil? %>
        <form method="post" action="/surveys/new" >
          <input type="submit" value="Create Survey">
        </form>
      <% end %>

    </div>
  </div>
  <%= yield %>
</body>
</html>



















